{:nodes {:t1 {:name "1. Node test harness and data tests" :state :done}
         :t2 {:name "2. scb.chart.tween" :state :done}
         :t3 {:name "3. Chart defloop, paint, tooltip defc" :state :done}
         :t4 {:name "4. Load results.json with :http" :state :done}
         :t5 {:name "5. Nave as a defloop" :state :done}
         :t6 {:name "6. README, release build, browser check" :state :done}}
 :edges {[:t1 :t2] {:direction :->}
         [:t2 :t3] {:direction :->}
         [:t3 :t4] {:direction :->}
         [:t4 :t5] {:direction :->}
         [:t5 :t6] {:direction :->}}
 :boxes {:chart-box {:name "scb.chart" :ref "2026-10-04-hammer-native.edn" :components #{:t2 :t3}}
         :core-box {:name "scb.core / scb.nave" :ref "2026-10-04-hammer-native.edn" :components #{:t4 :t5}}}}
